{% extends 'core/base.html' %}

{% load static %}


{% block menu_navbar %}

{% include 'materials_system/menu_navbar.html' %}

{% endblock %}

{% block content %}
<html>
  <body>
  <h1>Bem Vindo ao Sistema de Cadastro</h1>

  <br>Aqui você pode registrar os produtos, agentes e materiais que são utilizados na criação de Painéis Modulares.<br/><br/>
  </body>
</html>
{% endblock %}

{% block footer %}
<html>
  <body>
  <br>@Sob registro de SBBTEC Tecnologia Ltda.<br/>
  Desenvolvido por Gabrielle Arruda.<br/>
  </body>
</html>
{% endblock %}