{% extends 'core/base_list.html' %}

{% block menu_navbar %}

{% include 'materials_system/menu_navbar.html' %}

{% endblock %}
{% block table_content %}
<thead>
	<tr>
		<th>Id</th>
        <th>Valor</th>
        <th>Acoes</th>
	</tr>
</thead>

<tbody>

{% for tensao in tensoes %}
	<tr>
		<td class="text-center">{{tensao.pk}}</td>
        <td class="text-center">{{tensao.value}}</td>
        <td class="text-center">
		<a href="{% url 'tensao_remove' tensao_pk=tensao.pk %}"  class="btn btn-danger"><em class="glyphicon glyphicon-remove"></em></a></td>
	</tr>
{% endfor %}

</tbody>
{% endblock %}

{% block table_addional_configuration %}
	"order": [[ 0, 'desc' ]]
{% endblock %}