{% extends 'core/base.html' %}

{% load static %}
        
{% block menu_navbar %}
<div class="row border-bottom" width="100%">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0" width="100%">
        <div class="navbar-header" width="100%">
            <a class="navbar-minimalize minimalize-styl-2 btn" style="background-color:#253286; color:#fff" href="#" width="100%"><em class="fa fa-bars"></em> </a>
            <form role="search" class="navbar-form-custom" method="post" action="#" style="width: 800px">
                <div class="form-group" style="width: 1300px">
                    <div style="padding-top:20px; color: #989898">

            </div>
                </div>
            </form>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<html>
  <body>
 
  <h1>Bem Vindo ao seu sistema Django!</h1><br>Esse sistema foi desenvolvido internamente para melhorar os dia-a-dia dos colaboradores por meio de unificação dos processos.<br/><br/>

  </body>
</html>
{% endblock %}

{% block footer %}
<html>
  <body>
  <br>@Sob registro de SBBTEC Tecnologia Ltda.<br/>
  Desenvolvido por Gabrielle Arruda.<br/>
  </body>
</html>
{% endblock %}