<li>
    <a href="{% url 'home' %}"><em style="color:#ffffff" class="fa fa-hourglass-start"></em> <span style="color:#ffffff" class="nav-label">Inicio</span></a>
</li>

<li>
    <a href="{% url 'materiais' %}"><em style="color:#ffffff" class="fa fa-list-ol"></em> <span style="color:#ffffff" class="nav-label">Materiais</span></a>
</li>

<li>
    <a href="{% url 'armarios' %}"><em style="color:#ffffff" class="fa fa-home"></em> <span style="color:#ffffff" class="nav-label">Armários</span></a>
</li>


